
.spiner {
  width: 56px;
  height: 56px;
  animation: spinner-c601d3 1.0s infinite;
  background-color: #ce3636;
  border-radius: 50%;
}

@keyframes spinner-c601d3 {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-300%);
  }
  50% {
    opacity: 1;
    transform: scale(1.25) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0) translateX(300%);
  }
}
